.btn-facebook {color:#fff; background-color:#3b5998;}
.btn-google-plus{color:#fff!important;background-color:#dd4b39!important;} //important facultatif
.btn-youtube{color:#fff!important;background-color:#ff4b39!important;}
.btn-linkedin{color:#fff!important;background-color:#007bb6!important;}
.btn-twitter{color:#fff!important;background-color:#55acee!important;}
.btn-mail{color:#fff!important;background-color:#512DA8!important;}



.footerCont{
    margin: 30px;
    display:flex;
    background-color: darkgrey;   
    
    }