<div class="footerCont" fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column"  
fxLayout.sm="column" fxLayoutAlign="center none"> 

<div fxFlex >
  <h4 style="padding-left: 20px;">Links</h4>

  <mat-list>
    <mat-list-item><a mat-button>Home</a></mat-list-item>
    <mat-list-item><a mat-button>About</a></mat-list-item>
    <mat-list-item><a mat-button>Menu</a></mat-list-item>
    <mat-list-item><a mat-button>Contact</a></mat-list-item>
  </mat-list>

</div>

<div fxFlex >

<h4 style="padding-left: 20px;">Our address</h4>
<address style="padding-left: 20px;">
  Sahloul 1<br> Sousse<br> Tunisie<br>
  <i class="fa fa-phone"></i>: +216 53264029<br> <!-- br pour italique-->
  <i class="fa fa-fax"></i><br>
  <i class="fa fa-envelope"></i>:
  <a href="ghassenbriki123@gmail.com" style="text-decoration: none;">ghassenbriki123@gmail.com</a>
</address>

</div>

<div fxFlex fxFlexAlign="center">

  <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
  <a mat-icon-button class="btn-facebook" href="https://www.facebook.com/gaston.briki"><i class="fa fa-facebook fa-lg"></i></a>
  <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/ghassen-briki-3086331a8/"><i class="fa fa-linkedin fa-lg"></i></a>
  <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
  <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
  <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>


</div>

</div>

<div fxLayout="row" fxLayout.xs="column" fxLAyout.sm="column" fxLayoutAlign="center none">

<p>© Copyright 2020 Restauration </p>

</div>


