<!--
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <mat-list fxFlex>
    <mat-list-item *ngFor="let dish of dishes">
      <img matListAvatar src={{dish.image}} alt={{dish.name}}>
      <h1 matLine> {{dish.name}} </h1>
      <p matLine>
        <span> {{dish.description}} </span>
      </p>
    </mat-list-item>
  </mat-list>

</div>
--> 

<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex> <!-- we use Flex in children elements inside FlexLayout-->
    
      <h3>Menu</h3>
      <hr>
  
  </div>

  <div fxFlex *ngIf="dishes">
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let dish of dishes" >

        <img  [routerLink]="['/dishDetail',dish.id]" height="200px" src= "{{ url + dish.image }}" alt={{dish.name}}>
        <mat-grid-tile-footer  >
          <h1>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div  [hidden]="dishes || err"> <!-- if dishes still not defined yet dom will display loading .. -->
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

  <div fxFlex *ngIf="err">
    <h2>Error</h2>
    <h4>{{err}}</h4>
  </div>


  <!--<app-dishdetail [dish]="selectedDish"></app-dishdetail> --> 
</div>





