/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '_variables'; //pour les icons
@import '../node_modules/font-awesome/scss/font-awesome'; //pour le sass


// some basic resets 

body { 
  padding: 0; 
  margin: 0; 
  font-family: sans-serif; 
  
}

.container {
margin: 30px;
display:flex;     
}


